# Global owners
* @Vertex-Tech-Devs/vertex-core

# CI/CD and governance
.github/ @Vertex-Tech-Devs/vertex-core

# Platform app and docs
src/ @Vertex-Tech-Devs/vertex-core
functions/ @Vertex-Tech-Devs/vertex-core
docs/ @Vertex-Tech-Devs/vertex-core
scripts/ @Vertex-Tech-Devs/vertex-core
